@import "tailwindcss";

@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, -4px);
  }
  50% {
    transform: translate(-3px, 3px);
  }
  75% {
    transform: translate(4px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
